# Ignored node_modules folder
node_modules/

#Ignored config files
config.json

# Ignored Package files
package.json

#Ignore VS files
.vs
.vscode

#Ignore Readme.txt
README.txt

#Ignore Database Script
Data/dbConnection.js

#Ignore Custom scripts
Commands/lifmp.js
Data/market_sales.json
Data/player_count.js
Data/tradeStation.js