# Ignore node_modules folder
node_modules/

#Ignore config files
config.json

# Ignore Package files
package.json

# Ignore some files from Data
Data/bugs.txt
Data/direction.txt
Data/dbConnect.js

#Ignore VS files
.vs
.vscode

#Ignore Readme.txt
README.txt
Data/dbConnect.js
