# Ignored node_modules folder
node_modules/

#Ignored config files
config.json

# Ignored Package files
package.json

#Ignore VS files
.vs
.vscode

#Ignore Readme.txt
README.txt

#Ignore Database Script
Data/dbConnection.js
